export PATH=$PATH:$(pwd)

if [ "$(sysctl kernel.perf_event_paranoid | cut -d ' ' -f3)" -ne 1 ]; then
	echo -e "\033[1m\033[31mWARN\033[0m: kernel.perf_event_paranoid not set to 1, this can be configured via \033[1m'echo 1 | sudo tee /proc/sys/kernel/perf_event_paranoid'\033[0m"
fi

if [ "$(cat /sys/devices/system/cpu/cpufreq/boost)" == "1" ]; then
	echo -e "\033[1m\033[31mWARN\033[0m: CPU turbo boosting is enabled, this can be disabled via \033[1m'echo 0 | sudo tee /sys/devices/system/cpu/cpufreq/boost'\033[0m"
fi

if cat /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor | grep -q powersave; then
	echo -e "\033[1m\033[31mWARN\033[0m: CPU governor set to powersave, this can be fixed via \033[1m'echo performance | sudo tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor'\033[0m"
fi

dotenv_if_exists .env
# vim:ft=sh
